<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Team</h1>

  <p>
    We hire English and math teachers. Please send your full resume with credentials to <a href="mailto:helloladybread@gmail.com">helloladybread@gmail.com</a>
  </p>
</div>