<div class="hero">
  <div class="frosty text-center">
    <br />
    <h1>SmartStuff Test Prep</h1>
    <br />
    <h2>Increase your scores, guaranteed.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br class="clr" /> 