/* Set the fixed height of the footer here */
#footer {
  color: white;
  background-color: rgba(130,130,130,0.9);
  font-family: "Helvetica Neue", Helvetica;
  padding:10px 0px;
  margin-top: 30px;
  font-weight: 200;
}

#footer a {
 color: white;
}


.social-button {
  width: 32px;
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

// $footer-height-mobile:400px;
// @media (max-width: 750px) {
//   #footer {
//     height:$footer-height-mobile;
//   }

//   /* Wrapper for page content to push down footer */
//   #wrap {
//   margin: 0 auto -$footer-height-mobile; // space around (outside) the element from border outwards
//   /* Pad bottom by footer height */
//   padding: 0 0 $footer-height-mobile; //space around (inside) the element from text to border 
// }

//   #footer .social {
//   margin-top: 10px;
//   }
// // }


/* Flexbox Sticky Footer CSS */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

