@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 250;
  box-shadow: 0px 1px 3px #ffffff;
  background: #2a2a2a;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: white;
}


hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eeeeee;
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 32px;
}


.hero {
  background: url('hero4.jpg') no-repeat center center fixed; //css so entire photo is displayed nicely cropped like a banner
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 470px;
  margin-top: 0px !important;
  //box-shadow: 0px 3px 8px #2a2a2a; // [horizontal offset] [vertical offset] [blur radius] [color]
}

h1, h2, h3, h4, h5, h6, nav.navbar {
  margin:0px;
  text-align: left;
} 

.booyah-box h2, .booyah-box h1 {
    margin: 0px;
    padding-bottom: 10px;
}

.booyah-box h2, .booyah-box h1 {
    /* margin: 10px; */
}

.frosty {
  background:rgba(0,0,0,0.5);
  background-size: cover;
  color: white;
  height: 470px;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 350;
  text-shadow: rgba(0,0,0,0.95) 0.5px 0.5px;
  text-align: center;
  padding-top: 125px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  text-shadow: rgba(0,0,0,0.95) 0.5px 0.5px;
  text-align: center;
  padding-bottom: 15px;
}

.btn {
  border-radius:5;
}

body {
  // background: rgba(223,223,223,0.95);
  background: url('noisy_grid.png');
  font-family: "Helvetica Neue", Helvetica;
}

.booyah-box {
  // -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  //border: 1px solid #ccc;
  // border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:40px;
}
.booyah-box h2, .booyah-box h1 {
  margin-top:30px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}


.lesson {
  background-color:black;
  margin-top:10px;
  height:130px;
}

.lesson a {
  color:white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight:110;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}

ul {
  list-style-type: none;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.index-photoframe {
    position: relative;
    display: block;
    margin-top: 20px;
    img {
      width: 100%;
      display: block;
      //padding: 20px;
  }
}
// .photoframe {
//   padding: 50px;
//   margin-right: 100px;
// }
// .Site {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// .Site-content {
//   flex: 1;
// }

.img-responsive {
  padding-bottom: 15px;
  width: 100%; // keeps image at full-width in booyah-box and responsive
}

p {
  margin: 0px;
}

// p.alert.alert-info {
//   margin: 0px;
// }

// p.alert.alert-danger {
//   margin: 0px;
// }

div.col-sm-8.col-xs-12 {
  padding: 0;
  margin-bottom: 30px;
}

div.col-sm-4.col-xs-12 {
  padding: 0;
  margin-bottom: 30px;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eeeeee;
}