.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 250;
  box-shadow: 0px 1px 3px #ffffff;
  background: #2a2a2a;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: white;
}

.hero {
  background: url('hero4.jpg') no-repeat center center fixed; //css so entire photo is displayed nicely cropped like a banner
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  //box-shadow: 0px 3px 8px #2a2a2a; // [horizontal offset] [vertical offset] [blur radius] [color]
}

h1, h2, h3, h4, h5, h6, nav.navbar {
  margin:0;
} 

.frosty {
  background:rgba(100,40,97,0.35);
  background-size: cover;
  color: white;
  height: 370px;
}

.frosty h1 {
  font-family: "Tondo", sans-serif;
  font-weight: 350;
  text-shadow: rgba(0,0,0,0.95) 0.5px 0.5px;
  text-align: center;
}

.frosty h2 {
  font-family: "Tondo", sans-serif;
  font-weight: 250;
  text-shadow: rgba(0,0,0,0.95) 0.5px 0.5px;
}

.btn {
  border-radius:5;
}

body {
  background: rgba(223,223,223,0.95);
  font-family: "Tondo",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.booyah-box {
  // -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  // box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:40px;
}
.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}


.lesson {
  background-color:black;
  margin-top:10px;
  height:130px;
}

.lesson a {
  color:white;
  font-family: "Tondo", sans-serif;
  font-weight:110;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size:25px;
}

ul {
  list-style-type: none;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.index-photoframe {
    position: relative;
    display: block;
    margin-top: 20px;
    img {
      width: 100%;
      display: block;
      padding: 20px;
  }
}
.photoframe {
  padding: 50px;
  margin-right: 100px;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.img-responsive {
  padding: 15px;
  width: 100%;
}